"""Entorno: development | staging | production"""
# App
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/edupro

# Base de datos
DB_HOST=localhost
DB_NAME=edupro_db
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# Sesiones
SESSION_NAME=edupro_session
SESSION_LIFETIME=7200
